{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div style="margin: 0.5em" class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div style="margin: 0.5em" class="form-group>">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div style="margin: 0.5em" class="form-group>">
            <input class="form-control" name="confirmation" placeholder="Repeat password" type="password">
        </div>
        <button style="margin: 0.5em" class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}